html{
    background-color: #ccc;
    font-size: 32px;
}

/* 1em = 16pixes */

body{
    background-color: blueviolet;
    width: 50%;
    font-size: 1.5rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.0rem;
}

.filha{
    background-color: #1de9b6;
    width: 50%;
    font-size: 0.5rem;
}