
.header{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 15px;
}

@media(max-width:450px){

    .header{
        padding: 20px;
    }

    .logo{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav{
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }


    .menu{
        display: block;   
        margin: 0;
    }

    .menu li{
        margin: 0;
    }

    .menu a{
        padding: 10px;
        display: block;
    }
    
}