
.container{
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq{
    background-color: #FFFFFF;
    position: relative;
    width: 655px;
    min-height: 345px;
    margin: 200px 0;
    border-radius: 21px;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.25);
}

.imagem-principal{
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
}

.conteudo{
    width: 390px;
    margin: 60px 0 60px 228px;
}

.conteudo .titulo{
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: 700;
}

.conteudo .pergunta{
    border-bottom: 1px solid #D4D4D4;
    padding: 15px 10px 15px 0;
}

.conteudo .pergunta .titulo{
    font-size: 1.7rem;
    font-weight: 500;
}

.conteudo .pergunta .seta{
    background: url(../images/seta-fechada.png) no-repeat right;
    text-indent: 100%;
    overflow: hidden;
}

.conteudo .pergunta .resposta{
    display: none;
    font-size: 1.5rem;
    font-weight: 300; 
    padding: 15px 15px 0 0 ;
}

.conteudo .pergunta.ativo .resposta{
    display: block;
}

.conteudo .pergunta.ativo .seta{
    background-image: url(../images/seta-aberta.png);
}