
.container{
    display: flex;
    border: 1px solid #ccc;
    max-width: 400px;
}

.item{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    font-size: 15px;
    flex: 1;
}

